@model IEnumerable<Website_Klinik.Models.TBL_PENDAFTARAN>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-4 px-4">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_PENDAFTARAN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_PASIEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_ADMIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NAMA_PASIEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UNIT_DITUJU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_TINDAKAN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KONSULTASI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TANGGAL_BEROBAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STATUS_FORM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DIBUAT_OLEH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TANGGAL_DIBUAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DIUPDATE_OLEH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TANGGAL_UPDATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_OBAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.REKAM_MEDIS)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PENDAFTARAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PASIEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_ADMIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAMA_PASIEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UNIT_DITUJU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_TINDAKAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KONSULTASI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TANGGAL_BEROBAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS_FORM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIBUAT_OLEH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TANGGAL_DIBUAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIUPDATE_OLEH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TANGGAL_UPDATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_OBAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REKAM_MEDIS)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>